%tag.class#id{name: 'this', value: 'that'}
.container-fluid#page_content
  .row
    .col-lg-12
      %h1.land
        Welcome to
        %b VisualizeClinvar!
      %p.land We help you make sense of the data in ClinVar <br/> so you can make sense of discoveries
  .row
    .col-lg-12
      %form.col-lg-10
      .form-group
        %input#exampleSearchBar.cvform-control{:placeholder => "Enter a gene", :type => "text"}
        %button.cvbtn Search

  .row
    = render 'graph', id: 'graph1'

    = render 'graph', id: 'graph2'

    = render 'graph', id: 'graph3'

  .row
    = render 'graph', id: 'graph4'

    = render 'graph', id: 'graph5'

    = render 'graph', id: 'graph6'

  .row
    = render 'graph', id: 'graph7'

    = render 'graph', id: 'graph8'

    = render 'graph', id: 'graph9'

  .row
    =image_tag "footer_design3.png", :class => "footer_design"

  / .col-lg-2
  /   %h1.teamname Lance Pflieger
  /   %p.teamtitle Programming, Genetics Domain Expert, D3-developer
  /   %p.teamextra Anything extra can go here about the individual.
  /   %a LinkedIn
  / %form.col-lg-12
  /   %h1.form Feedback
  /   .form-group
  /     %input#exampleInputEmail1.cvform-control{:placeholder => "Enter Email", :type => "email"}
  /   .col-lg-2
  /     %button.cvbtn Submit
  / .col-lg-4.graph
  /   %h1.important Important Text
  /   %p.graph Secondary Text
