%html
  %head
    %title VisualizeClinvar
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container-fluid
      .row
        .col-lg-12
          = image_tag "visualizeClinvarLogo.jpg", :class => "logo pull-left"
          %a.head{:href => "#donate"} Donate
          %a.head{:href => "#feedback"} Feedback
          %a.head{:href => "#about"} About

    = yield

    / = image_tag "bottomLogo2.png", width: "100%"
    %nav.footer.navbar.navbar-default
      .container-fluid
        .row
          .col-lg-12.text-center.navbar-text
            %a.foot{ href: "#donate" } Donate
            %a.foot{ href: "#feedback" } Feedback
            %a.foot{ href: "#about" } About
        .row
          %p.copyright © Visualize ClinVar 2015
