.col-lg-4
  .square.d3visualbyte{ id: "#{graph.graph}" }
    = image_tag("#{graph.static_image_path}", class: "graph")
    = link_to graph_url(gene: graph.gene, graph: graph.graph), class: 'text' do
      %h2.squaretxt= graph.title
      %p= graph.short_description
