- provide(:graph_js, @graph.js_path)
.container-fluid
  .row
    = link_to "<- Back to dashboard", root_url
  .row
    .col-md-12
      .page-header.text-center
        %h1
          = @graph.title
          %br
          %small= @graph.short_description
  .row.graph-container
    .col-md-6.col-md-offset-3
      .graph

  .row.description-container
    .col-md-6.col-md-offset-3
      %p= @graph.long_description

  .row.text-center.graph-info-container
    .col-md-2.col-md-offset-3.graph-info
      Last updated:
      %br
      %strong= @graph.updated
    .col-md-2.graph-info
      Primary author:
      %br
      %strong= @graph.author
    .col-md-2.graph-info
      Graph type:
      %br
      %strong= @graph.type
